
.div-box {
    padding: 15px 0;
}

    .div-box label {
        display: block;
    }

    .div-box a {
        display: block;
    }

    .div-box padding{
        padding: 30px 30px 30px 30px;
    }

.img-block {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
