	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/02/2021 22:52
  	*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Flaticon.woff2") format("woff2"),
         url("../fonts/Flaticon.woff") format("woff"),
         url("../fonts/Flaticon.ttf") format("truetype"),
         url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 50px;
font-style: normal;
margin-left: 0px;
}

.flaticon-rum:before { content: "\f100"; }
.flaticon-beer:before { content: "\f101"; }
.flaticon-drink:before { content: "\f102"; }
.flaticon-pagoda:before { content: "\f103"; }
.flaticon-barrel:before { content: "\f104"; }
.flaticon-tequila:before { content: "\f105"; }
.flaticon-perfume:before { content: "\f106"; }
.flaticon-steak:before { content: "\f107"; }
.flaticon-fork:before { content: "\f108"; }
.flaticon-vase:before { content: "\f109"; }
.flaticon-salad:before { content: "\f10a"; }
.flaticon-big-ben:before { content: "\f10b"; }
.flaticon-sandwich:before { content: "\f10c"; }
.flaticon-barrel-1:before { content: "\f10d"; }
.flaticon-agave:before { content: "\f10e"; }
.flaticon-burger:before { content: "\f10f"; }
.flaticon-tequila-1:before { content: "\f110"; }
.flaticon-rum-1:before { content: "\f111"; }
.flaticon-noodles:before { content: "\f112"; }
.flaticon-sandwich-1:before { content: "\f113"; }
.flaticon-tray:before { content: "\f114"; }
.flaticon-drink-1:before { content: "\f115"; }
.flaticon-wheat:before { content: "\f116"; }
.flaticon-bartender:before { content: "\f117"; }
.flaticon-bottle:before { content: "\f118"; }
.flaticon-wine:before { content: "\f119"; }
.flaticon-wine-1:before { content: "\f11a"; }
.flaticon-cocktail:before { content: "\f11b"; }
.flaticon-shaker:before { content: "\f11c"; }
.flaticon-brandy:before { content: "\f11d"; }
.flaticon-water:before { content: "\f11e"; }
.flaticon-cocktail-1:before { content: "\f11f"; }
.flaticon-turkey:before { content: "\f120"; }
.flaticon-sandwich-2:before { content: "\f121"; }
.flaticon-tequila-2:before { content: "\f122"; }
.flaticon-room-service:before { content: "\f123"; }
.flaticon-chop:before { content: "\f124"; }
.flaticon-wine-2:before { content: "\f125"; }
.flaticon-whiskey:before { content: "\f126"; }
.flaticon-coconut:before { content: "\f127"; }
.flaticon-pitcher:before { content: "\f128"; }
.flaticon-pie:before { content: "\f129"; }
.flaticon-soda:before { content: "\f12a"; }
.flaticon-pint-of-beer:before { content: "\f12b"; }
.flaticon-burger-1:before { content: "\f12c"; }
.flaticon-hot-drink:before { content: "\f12d"; }
.flaticon-rice:before { content: "\f12e"; }
.flaticon-tequila-3:before { content: "\f12f"; }
.flaticon-taco:before { content: "\f130"; }
.flaticon-beer-1:before { content: "\f131"; }
.flaticon-wheat-1:before { content: "\f132"; }
.flaticon-beer-2:before { content: "\f133"; }
.flaticon-sand:before { content: "\f134"; }
.flaticon-macaron:before { content: "\f135"; }
.flaticon-beer-3:before { content: "\f136"; }
.flaticon-barrel-2:before { content: "\f137"; }
.flaticon-soup:before { content: "\f138"; }
.flaticon-hot-sauce:before { content: "\f139"; }
.flaticon-skull:before { content: "\f13a"; }
.flaticon-pizza:before { content: "\f13b"; }
.flaticon-cigar:before { content: "\f13c"; }
.flaticon-cocktail-2:before { content: "\f13d"; }
.flaticon-cake:before { content: "\f13e"; }
.flaticon-pina-colada:before { content: "\f13f"; }
.flaticon-beer-4:before { content: "\f140"; }
.flaticon-mead:before { content: "\f141"; }
.flaticon-chicken-leg:before { content: "\f142"; }
.flaticon-pizza-1:before { content: "\f143"; }
.flaticon-burger-2:before { content: "\f144"; }
.flaticon-hot-dog:before { content: "\f145"; }
.flaticon-ice-cream:before { content: "\f146"; }
.flaticon-broccoli:before { content: "\f147"; }
.flaticon-lemonade:before { content: "\f148"; }
.flaticon-sandwich-3:before { content: "\f149"; }
.flaticon-beer-5:before { content: "\f14a"; }
.flaticon-roast-chicken:before { content: "\f14b"; }
.flaticon-dish:before { content: "\f14c"; }
.flaticon-salad-1:before { content: "\f14d"; }
.flaticon-spaguetti:before { content: "\f14e"; }
.flaticon-taco-1:before { content: "\f14f"; }
.flaticon-chicken-leg-1:before { content: "\f150"; }
.flaticon-soup-1:before { content: "\f151"; }
.flaticon-champagne:before { content: "\f152"; }
.flaticon-ketchup:before { content: "\f153"; }
