<div id="gallery" class="gallery-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                        Наша Галерея
                    </h2>
                    <p class="title-caption text-center">There are many variations of passages of Lorem Ipsum available </p>
                </div>
            </div>
        </div>
        <div class="grid-portfolio my-custom-scrollbar" id="portfolio">
            <div class="row" id="blink5">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/-sAo2Oxc9ac (1).jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>Biodiesel <em>squid</em></h1>*@
                                        <p>День всех влюбленных 14.02.2021</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/-sAo2Oxc9ac (1).jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/bCQT5gbzWtU.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>raclette <em>taxidermy</em></h1>*@
                                        <p>Иван Спелл 05.05.2021</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/bCQT5gbzWtU.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/d-LPU3GHdyk.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>humblebrag <em>brunch</em></h1>*@
                                        <p>Новый Год 31.12.2020</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/d-LPU3GHdyk.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/GHuo2_e3ixY.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>Succulents <em>chambray</em></h1>*@
                                        <p>Вечеринка 23.09.2021</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/GHuo2_e3ixY.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/i7A5RF4m2x8.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>freegan <em>aesthetic</em></h1>*@
                                        <p>Сигарный вечер 19.04.2019</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/i7A5RF4m2x8.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/KPd7wu2Z7Uo.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>taiyaki <em>vegan</em></h1>*@
                                        <p>Коктейльный Вечер 27.11.2021</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/KPd7wu2Z7Uo.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/QRnAyhTFqdE.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>Thundercats <em>santo</em></h1>*@
                                        <p>Всемирный день Джина 27.07.2020</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/QRnAyhTFqdE.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/XSQCem2SH3Y.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>wayfarers <em>yuccie</em></h1>*@
                                        <p>Конкурс Барменов Северное Сияние 12.08.2020</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/XSQCem2SH3Y.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/Zjbw7cwNhko.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>disrupt <em>street</em></h1>*@
                                        <p>Красота Бар 02.02.2019</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/Zjbw7cwNhko.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/-sAo2Oxc9ac (1).jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>Biodiesel <em>squid</em></h1>*@
                                        <p>День всех влюбленных 14.02.2021</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/-sAo2Oxc9ac (1).jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/bCQT5gbzWtU.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>raclette <em>taxidermy</em></h1>*@
                                        <p>Иван Спелл 05.05.2021</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/bCQT5gbzWtU.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/d-LPU3GHdyk.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>humblebrag <em>brunch</em></h1>*@
                                        <p>Новый Год 31.12.2020</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/d-LPU3GHdyk.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/GHuo2_e3ixY.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>Succulents <em>chambray</em></h1>*@
                                        <p>Вечеринка 23.09.2021</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/GHuo2_e3ixY.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/i7A5RF4m2x8.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>freegan <em>aesthetic</em></h1>*@
                                        <p>Сигарный вечер 19.04.2019</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/i7A5RF4m2x8.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/KPd7wu2Z7Uo.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>taiyaki <em>vegan</em></h1>*@
                                        <p>Коктейльный Вечер 27.11.2021</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/KPd7wu2Z7Uo.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/QRnAyhTFqdE.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>Thundercats <em>santo</em></h1>*@
                                        <p>Всемирный день Джина 27.07.2020</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/QRnAyhTFqdE.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/XSQCem2SH3Y.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>wayfarers <em>yuccie</em></h1>*@
                                        <p>Конкурс Барменов Северное Сияние 12.08.2020</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/XSQCem2SH3Y.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="~/images/Gallery/Zjbw7cwNhko.jpg" data-lightbox="image-1">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        @*<h1>disrupt <em>street</em></h1>*@
                                        <p>Красота Бар 02.02.2019</p>
                                    </div>
                                </div>
                            </a>
                            <div class="gallery-image">
                                <img src="~/images/Gallery/Zjbw7cwNhko.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-12">
                        <div class="load-more-button">
                            <a href="#">Load More</a>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
