
<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetasPartial")
</head>
<body>
    <div>
        @await Html.PartialAsync("HeaderPartial")
        <div>
            @RenderBody()
        </div>
        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>
