<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

<!-- Site Metas -->
<!--ВОТ ДЛЯ ЭТОГО НУЖЕН Service/Config-->
<title>@Config.CompanyName</title>

<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Потоцкий Иван">

<!-- Fonts for CRUD Dishes Category Menu -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- CSS for CRUD Dishes Category Menu -->
<link rel="stylesheet" href="/css/CRUDStyle.css">

<!-- Site Icons -->
<link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">

<!-- animate.css -->
<link rel="stylesheet" href="~/css/animate/animate.css" />
<link rel="stylesheet" href="~/css/animate/set.css" />

<!-- Bootstrap CSS -->
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<!-- Site CSS -->
<link href="~/css/style.css" rel="stylesheet" />
<!-- Responsive CSS -->
<link href="~/css/responsive.css" rel="stylesheet" />
<!-- color -->
<link id="changeable-colors" href="~/css/colors/red.css" rel="stylesheet" />

<!-- Modernizer -->
<script src="~/js/modernizer.js"></script>

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
