<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

<!-- Site Metas -->
<!--ВОТ ДЛЯ ЭТОГО НУЖЕН Service/Config-->
<title>@Config.CompanyName</title>

<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Потоцкий Иван">

<!-- Fonts for CRUD Dishes Category Menu -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--OwlCarousel2 Styles-->
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/owl.theme.css">


<!-- animate.css -->
<link rel="stylesheet" href="~/css/animate/animate.css" />
<link rel="stylesheet" href="~/css/animate/set.css" />

<!-- Bootstrap CSS -->
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<!-- Site CSS -->
<link href="~/css/style.css" rel="stylesheet" />

<link href="~/css/light-box.css" rel="stylesheet" />

<!-- Menu gallery -->
@*<link rel="stylesheet" href="~/css/blueimp-gallery.min.css">*@

<!-- CSS for CRUD Dishes Category Menu -->
<link rel="stylesheet" href="/css/CRUDStyle.css">

<!-- Responsive CSS -->
<link href="~/css/responsive.css" rel="stylesheet" />
<!-- color -->
<link id="changeable-colors" href="~/css/colors/red.css" rel="stylesheet" />

<!-- Modernizer -->
<script src="~/js/modernizer.js"></script>

<!--Site Icon-->
<link rel="apple-touch-icon" sizes="180x180" href="~/images/site icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/images/site icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/images/site icon/favicon-16x16.png">
<link rel="manifest" href="~/images/site icon/site.webmanifest">
<link rel="mask-icon" href="~/images/site icon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#b50000">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
